body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    padding-top: 70px;
    color: white;
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 17px;
    background: rgba(145, 23, 14, 0.855);
    border: 1px solid rgba(71, 12, 8, 0.855);
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 5px;
}

button:hover {
    background: rgba(162, 27, 17, 0.769);
    border: 1px solid rgba(95, 19, 13, 0.797);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background: rgba(107, 13, 13, 0.782);
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(3px);
}

nav > .icon-container {
    display: flex;
    align-items: center;
    font-size: 25px;
}

nav > .icon-container > a {
    text-decoration: none;
}

nav > .link-container {
    display: flex;
    margin-left: auto;
    gap: 10px;
}

nav > .link-container > a {
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.9);
}

nav * {
    color: white;
}

nav > .coffee-button {
    margin-left: 50px;
}

.hero * {
    color: rgb(200, 0, 0);
}

.card {
    border: 1px rgb(200, 0, 0) solid;
    border-radius: 3px;
    color: rgb(200, 0, 0);
    font-size: 13px;
    padding: 3px 5px;
    margin: 5px;
}

.hero-side > .card {
    margin: 20px;
}

.hero > .hero-side > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

light {
    font-size: 23px;
    font-weight: light;
    border-bottom: 2px rgba(107, 13, 13, 0.782) solid;
}

.flex {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0 5px;
    padding: 0;
    height: 20px;
}

.hero > .hero-side > h2 {
    padding: 0;
    margin: 5px;
}

.hero {
    display: flex;
    gap: 5px;
    background: url("../img/hero.png");
}

.hero > * {
    padding-top: 10px;
}

.hero-image {
    flex-basis: 70%;
}

.hero-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.hero-title {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    flex-basis: 30%;
}